<form [formGroup]="formModel" (ngSubmit)="onSearch()" novalidate>
    <div class="form-group" [ngClass]="{'has-error': formModel.hasError('minlength','title')}">
        <label for="productTitle">商品名称</label>
        <input type="text" id="productTitle" placeholder="商品名称" class="form-control" formControlName="title">
        <span class="help-block" [ngClass]="{'hidden': !formModel.hasError('minlength','title')}">
            请至少输入三个字
        </span>
    </div>
    <div class="form-group" [ngClass]="{'has-error': formModel.hasError('positiveNumber','price')}">
        <label for="productPrice">商品价格</label>
        <input type="text" id="productPrice" placeholder="商品价格" class="form-control" formControlName="price">
        <span class="help-block" [ngClass]="{'hidden': !formModel.hasError('positiveNumber','price')}">
            请输入正确的价格
        </span>
    </div>
    <div class="form-group">
        <label for="productCategory">商品类别</label>
        <select id="productCategory" class="form-control" formControlName="category">
            <option value="-1">全部分类</option>
            <option *ngFor="let category of categories" [value]="category">{{category}}</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">搜索</button>
    </div>
</form>